# === NO SUBIR RUNTIMES/TOOLS ===
# JDK / JRE
jdk*/
openjdk*/
jre*/
**/bin/java*
**/bin/javac*

ApiTesting/Jmeter/results/
ApiTesting/Jmeter/report*/
ApiTesting/Jmeter/temp/
ApiTesting/Jmeter/jmeter.log
**/*.jtl
**/*.tmp

# Resultados y reportes de JMeter
results/
report/
reports/
**/*.jtl
**/jmeter.log
**/*.tmp

# Node / Python (si aplican)
node_modules/
dist/
build/
.env
__pycache__/
*.pyc

# SO y editor
.DS_Store
Thumbs.db
.vscode/
.idea/
